In [1]:
import pandas as pd
sales = pd.read_csv('european_countries.csv')
sales

,Name,Region,Capital,Area,Population,Currency
0,Austria,Central Europe,Vienna,83871,9119533,Euro (EUR)
1,Belarus,Eastern Europe,Minsk,207600,9398867,Belarusian ruble (BYN)
2,Bosnia and Herzegovina,Southeast Europe,Sarajevo,51129,3295931,Bosnian convertible mark (BAM)
3,Bulgaria,Southeast Europe,Sofia,110994,6818088,Bulgarian lev (BGN)
4,Croatia,Southeast Europe,Zagreb,56594,4040905,Croatian kuna (HRK)
5,Czech Republic,Central Europe,Prague,78866,10706997,Czech koruna (CZK)
6,Estonia,Northern Europe,Tallinn,43515,1329959,Euro (EUR)
7,Hungary,Central Europe,Budapest,93030,9660349,Hungarian forint (HUF)
8,Latvia,Northern Europe,Riga,64589,1899500,Euro (EUR)
9,Lithuania,Northern Europe,Vilnius,62688,2794290,Euro (EUR)
10,Moldova,Eastern Europe,Chișinău,33843,2597000,Moldovan leu (MDL)
11,Poland,Central Europe,Warsaw,312679,38036287,Polish złoty (PLN)
12,Romania,Southeast Europe,Bucharest,238391,19193261,Romanian leu (RON)
13,Slovakia,Central Europe,Bratislava,49035,5465662,Euro (EUR)
14,Slovenia,Central Europe,Ljubljana,20273,2100795,Euro (EUR)
15,Ukraine,Eastern Europe,Kyiv,603550,42990498,Ukrainian hryvnia (UAH)

In [2]:
ltd = sales.loc[:,['Name','Population']]
ltd

                      Name  Population
0                  Austria     9119533
1                  Belarus     9398867
2   Bosnia and Herzegovina     3295931
3                 Bulgaria     6818088
4                  Croatia     4040905
5           Czech Republic    10706997
6                  Estonia     1329959
7                  Hungary     9660349
8                   Latvia     1899500
9                Lithuania     2794290
10                 Moldova     2597000
11                  Poland    38036287
12                 Romania    19193261
13                Slovakia     5465662
14                Slovenia     2100795
15                 Ukraine    42990498