# ROWS AND COLUMNS
---

Sometimes you need to limit data to selected rows or columns. You can achieve this by using the available DataFrame methods.

## Specyfing Row and Column Names or Numbers

The CSV file contains the list of The Academy Awards for the last 10 years, commonly and now officially known as the Oscars, for artistic and technical merit for the film industry.

In [ ]:
import pandas as pd

In [3]:
oscars = pd.read_csv('oscars.csv')
oscars

,Year,Category,Name,Movie
0,2023,Best Actress,Michelle Yeoh,Everything Everywhere All at Once
1,2023,Best Actor,Brendan Fraser,The Whale
2,2022,Best Actress,Jessica Chastain,The Eyes of Tammy Faye
3,2022,Best Actor,Will Smith,King Richard
4,2021,Best Actress,Frances McDormand,Nomadland
5,2021,Best Actor,Anthony Hopkins,The Father
6,2020,Best Actress,Renée Zellweger,Judy
7,2020,Best Actor,Joaquin Phoenix,Joker
8,2019,Best Actress,Olivia Colman,The Favourite
9,2019,Best Actor,Rami Malek,Bohemian Rhapsody
10,2018,Best Actress,Frances McDormand,Three Billboards Outside Ebbing Missouri
11,2018,Best Actor,Gary Oldman,Darkest Hour
12,2017,Best Actress,Emma Stone,La La Land
13,2017,Best Actor,Casey Affleck,Manchester by the Sea
14,2016,Best Actress,Brie Larson,Room
15,2016,Best Actor,Leonardo DiCaprio,The Revenant
16,2015,Best Actress,Julianne Moore,Still Alice
17,2015,Best Actor,Eddie Redmayne,The Theory of Everything
18,2014,Best Actress,Cate Blanchett,Blue Jasmine
19,2014,Best Actor,Matthew McConaughey,Dallas Buyers Club

In [11]:
oscars.iloc[3,2]

'Will Smith'

To display the name of actor Leonardo DiCaprio, enter the row and column number. Remember that numbering starts from 0.

In [ ]:
oscars.iloc[15,2]

Instead of row and column numbers, you can enter row and column names.

In [ ]:
oscars.loc[15,'Name']

### Tasks

Now try displaying the movie title 'Three Billboards Outside Ebbing Missouri'. Use two methods, specifying:

* row and column numbers
* row and column names

## Entering Range of Rows and Columns

To select any rows and columns, you can list their names/numbers or specify a range of names/numbers separated by a colon.

In [ ]:
oscars.iloc[3:7]

In [ ]:
oscars.iloc[5:10,2:4]

In [ ]:
oscars.iloc[[10,3,17],[2,3]]

In [ ]:
oscars.loc[:,['Movie','Name','Year']]

### Tasks

Display the first two rows of data.

Display the first three columns of data.

Display data without a Name column.

## Displaying Any First or Last Rows of Data

In addition, you can display the first or last few rows of data. To do this, use the head() or tail() methods. You can even specify how many rows to display.

In [ ]:
oscars.head()

In [ ]:
oscars.tail(3)

### Tasks

Display the first 10 rows.

Display the last 5 rows of data with the columns: Movie, Year.

Display the first and last rows of data containing only the first and last columns.