# Mój pierwszy notes

Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania.

In [18]:
import pandas as pd
s1 = pd.Series(["Monday","Tuesday","Wednesday"])
s2 = pd.Series([111,222,333])
ds = pd.DataFrame()
# print(s1)
# print(s2)
# print(ds)
ds['Day'] = s1
ds['Value'] = s2
ds.index += 1
ds['Value %'] = ds['Value']/100 
ds

         Day  Value  Value %
1     Monday    111     1.11
2    Tuesday    222     2.22
3  Wednesday    333     3.33

Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania. Opis treści zadania.

In [16]:
ds.iloc[:,:]

         Day  Value  Value %
1     Monday    111     1.11
2    Tuesday    222     2.22
3  Wednesday    333     3.33