In [4]:
import pandas as pd
#df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
# print(df)
df = pd.read_csv("data.csv")
df.index = ["one","two","three","four"]
df.head(2)

     name  age student
one  John   22     yes
two   Ann   21     yes

In [8]:
# x1 = input("enter 1: ")
# x2 = input("enter 2: ")
x1 = 55
x2 = 99
dt = [x1,x2]
df = pd.DataFrame(dt)
df.iloc[:,:]
# df["0"]

    0
0  55
1  99

In [4]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []