# DATA GROUPING
---

The table below shows the number of visits to a certain online store and the number of products purchased.

Day | Browser | Visits | Purchase
----|---------|--------|---------
Monday | Edge | 15 | 3
Monday | Chrome | 17 | 1
Monday | Safari | 11 | 2
Friday | Edge | 10 | 2
Friday | Safari | 23 | 7
Sunday | Chrome | 34 | 12

In [1]:
import pandas as pd
visits_data = {
    'Day':['Monday','Monday','Monday','Friday','Friday','Sunday'],
    'Browser':['Edge','Chrome','Safari','Edge','Safari','Chrome'],
    'Visits':[15,17,11,10,23,34],
    'Purchase':[3,1,2,2,7,12]
    }
visits = pd.DataFrame(visits_data)
visits

      Day Browser  Visits  Purchase
0  Monday    Edge      15         3
1  Monday  Chrome      17         1
2  Monday  Safari      11         2
3  Friday    Edge      10         2
4  Friday  Safari      23         7
5  Sunday  Chrome      34        12

To calculate and display the total number of visits on individual days of the week, specify the result columns, the columns by which the data are grouped and the aggregation function:

In [2]:
visits.loc[:,['Day','Visits']].groupby(['Day']).sum()

        Visits
Day
Friday      33
Monday      43
Sunday      34

If you also want to calculate the total of products purchased for each week, add the column name 'Purchase' to the list of result columns.

In [3]:
visits.loc[:,['Day','Visits','Purchase']].groupby(['Day']).sum()

        Visits  Purchase
Day
Friday      33         9
Monday      43         6
Sunday      34        12

### Tasks

Calculate and display the average number of website visits by day of the week, depending on the web browser.

Calculate and display the number of web browsers used on specific days of the week.

Calculate and display the number of web browsers used on specific days of the week. Sort the results in descending order.

The 'employees.csv' file contains data of employees of one of the IT companies. Display employee list. Then, calculate and display:

1. Number of women and men
1. Number of employees by country
1. Number of women and men by country
1. Average age of employees
1. Average age of women and men
1. Average salary in the company.
1. Average salary of women and men
1. Minimum age of women and men by country. Sort the results in descending order.
1. Median salary of women and men by country.
1. Median salary of women and men by country. Save the results to a csv file.